/* Variable collection */
:root {
    /* Mode 1 */
    /* color */
    --beige: #fff8ee;
    --deep-black: #000000;
    --grey: #727272;
    --light-grey: #d9d9d9;
    --purple: #681ec7;
    --white: #ffffff;
  }